* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-size: 65.5%;
}
body {
  font-size: 1.6rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background: rgb(180, 29, 29);
  color: #ddd;
  padding: 2rem 0;
}
main {
  height: calc(100vh - 8.2rem);
  /* display: flex;
  justify-content: center; */
}
table {
  width: 100vw;
  padding: 2rem;
}
th,
td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}
